* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Dongle-light";
  src: url("Dongle/Dongle-Light.ttf");
}

@font-face {
  font-family: "Dongle-regular";
  src: url("Dongle/Dongle-Regular.ttf");
}

@font-face {
  font-family: "Dongle-bold";
  src: url("Dongle/Dongle-Bold.ttf");
}

header {
  display: flex;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.logo img {
  max-width: 15%;
}

.nav-menu ul {
  display: flex;
}

.nav-menu li {
  list-style: none;
  margin-right: 20px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  text-decoration: none;
  font-family: "Dongle-bold";
  font-size: 1.6rem;
  color: #333;
  transition: all 0.3s ease;
}

.nav-menu a:hover {
  color: #ff7f50;
}

.hero {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.hero-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-family: "Dongle-bold";
  font-size: 4rem;
}

.hero-content p {
  font-family: "Dongle-regular";
  font-size: 1.8rem;
  margin-top: -20px;
  margin-bottom: 10px;
}

.hero-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #ff7f50;
  padding: 12px 30px;
  border-radius: 50px;
  font-family: "Dongle-light";
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #333;
}


.destinations{
    font-size: 2.4rem;
    font-family: "Dongle-bold";
    margin: 40px 80px;
    text-align: center;
}

.destinations h2{
    margin-bottom: 40px;
}

.destination-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.destination-item {
    text-align: left;
}

.destination-item h3{
    font-size: 2rem;
}

.destination-item p{
    font-size: 1.4rem;
    font-family: "Dongle-regular";
    line-height: 1;
}


.about{
    text-align: center;
    padding: 100px;
}

.about h3{
    font-family: "Dongle-bold";
    font-size: 3rem;

}

.about p{
    font-family: "Dongle-regular";
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 40px;
}

.team-members{
    display: flex;
    flex-wrap: wrap;
}

.team-member img{
    width: 300px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
    border-radius: 10px;
}

.team-member h4{
    font-family: "Dongle-bold";
    font-size: 2rem;
}

.contact{
  padding: 80px;
  text-align: center;
  background-color: #f7f7f7;
}

